<h1>Editing todo model</h1>

<%= render "form", todo_model: @todo_model %>

<br>

<div>
  <%= link_to "Show this todo model", @todo_model %> |
  <%= link_to "Back to todo models", todo_models_path %>
</div>
