<div id="<%= dom_id warehouse %>">
  <p>
    <strong>Code:</strong>
    <%= warehouse.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= warehouse.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= warehouse.location %>
  </p>

</div>
